{
	email cornersnc@gmail.com
}

cornerpubgiovinazzo.com, www.cornerpubgiovinazzo.com {
	encode gzip zstd

	@static path /images/* /uploads/* /css/* /js/* /fonts/* /img/*
	header @static {
		Cache-Control "public, max-age=2592000, immutable"
		-Pragma
		defer
	}

	reverse_proxy app:8080
}
